@model Memento.Models.Models.Card

@using Memento.Web.Controllers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Deck.Title)</h4>

    <hr />

    <div class="topactions">
        @Html.ActionLink("Add card", "Create", new { DeckID = Model.DeckID })
    </div>

    <hr />

    <p>
        It's lonely here.
    </p>

    <div>
        @Html.ActionLink("Back", "Details", "Decks", new { id = Model.DeckID }, null)
    </div>
</div>
