@model Memento.Models.ViewModels.AnswerCardViewModel

@{
    ViewBag.Title = "Right";
}

<h2>Right</h2>

<div>
    <h4>@Html.DisplayFor(model => model.DeckTitle)</h4>
    <hr />

    @{Html.RenderPartial("_TopActionsView");}

    @using (Html.BeginForm("Right", "Cards"))
    {

    @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        Html.RenderPartial("_Answer");

        <div>You are right!</div>

        <input type="submit" value="Next" class="btn btn-default" />
    }
</div>
