@model Memento.Models.ViewModels.AnswerCardViewModel

@{
    ViewBag.Title = "Typo";
}

<h2>Typo</h2>

<div>
    <h4>@Html.DisplayFor(model => model.DeckTitle)</h4>
    <hr />

    @{Html.RenderPartial("_TopActions");}


    @using (Html.BeginForm("Typo", "Cards"))
    {

    @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ID)

        Html.RenderPartial("_Answer");

        <p>
            Your answer:
            @Html.DisplayFor(model => model.UserAnswer)
        </p>

        <div>Your answer looks like a typo!</div>

        <input type="submit" name="TypoButton" value="It's a typo!" class="btn btn-default" />
        <input type="submit" name="WrongButton" value="It's a wrong answer!" class="btn btn-default" />
        <input type="submit" name="AltButton" value="It's an alternative answer!" class="btn btn-default" />
    }
</div>
