@model Neodenit.Memento.Common.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Memento";
}

<div class="jumbotron">
    <h1>Memento</h1>

    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-3">
                @Html.ActionLink("Start", "Index", "Decks", null, new { @class = "btn btn-primary btn-lg active btn-block", role = "button" })
            </div>
        }
        else
        {
            <div class="col-md-12">
                <p class="lead">Please log in to start.</p>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="offset-md-1 col-md-10 help-text">
        @Html.Raw(Model.HelpText)
    </div>
</div>
