<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Helpers.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Memento.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Memento.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Helpers.Application>
            <setting name="Coeff" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StartDelay" serializeAs="String">
                <value>8</value>
            </setting>
        </Helpers.Application>
    </userSettings>
    <applicationSettings>
        <Memento.Common.Settings>
            <setting name="Coeff" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StartDelay" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CommentDelimeter" serializeAs="String">
                <value>---</value>
            </setting>
            <setting name="EnableNewCardsHandling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSiblingsHandling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultValidLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PermissibleError" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="AddRandomization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowSmoothDelayModes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowSmallDelays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTwoStepsConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SecondDelay" serializeAs="String">
                <value>9</value>
            </setting>
        </Memento.Common.Settings>
        <Memento.Core.Settings>
            <setting name="Coeff" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StartDelay" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CommentDelimeter" serializeAs="String">
                <value>---</value>
            </setting>
            <setting name="EnableNewCardsHandling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSiblingsHandling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultValidLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PermissibleError" serializeAs="String">
                <value>0.2</value>
            </setting>
        </Memento.Core.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
