@model Memento.Models.Card

@using Memento.Controllers

@{
    ViewBag.Title = "Typo";
}

<h2>Typo</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Deck.Title)</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="topactions">
            @Html.ActionLink("Edit card", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Delete card", "Delete", new { id = Model.ID })
        </div>

        <div>Typo!</div>
    }
</div>
