@model Neodenit.Memento.Models.ViewModels.AnswerCardViewModel

<div class="form-group">
    <div class="col-md-offset-2 col-md-8">
        <div class="card-text">@Model.Question</div>
    </div>
</div>