@model Memento.Models.ViewModels.AnswerCardViewModel

<hr />
<div class="topactions">
    @Html.ActionLink("Edit card", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete card", "Delete", new { id = Model.ID })
</div>
<hr />
