@model Memento.Models.ViewModels.AnswerCardViewModel

<div class="card-text">@Model.FullAnswer</div>
@if (!string.IsNullOrWhiteSpace(Model.Comment))
{
    <hr />
    <div class="card-text">@Model.Comment</div>
}