@model  Memento.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Memento";
}

<div class="jumbotron">
    <h1>Memento</h1>
    <p class="lead">Please log in to start.</p>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10 help-text">
        @Html.Raw(Model.HelpText)
    </div>
</div>