@model Memento.Models.Models.BackupModel

@{
    ViewBag.Title = "Backup";
}

<h2>Backup</h2>

@Html.ActionLink("Get Backup File", "GetBackupFile")

<h2>Restore Previous State</h2>

@using (Html.BeginForm("Restore", "Decks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="file" name="file" accept=".json" />

    <input type="submit" value="Restore" onclick="function Backup() { this.disabled = true; this.value = 'Loading...'; }" />
}
