@using Neodenit.Memento.Common.ViewModels;

@model IEnumerable<ViewCardViewModel>

@{
    ViewBag.Title = "Cards Index";
}

<h2>Index</h2>
<hr />

@foreach (var item in Model)
{
    Html.RenderPartial("_Question", new AnswerCardViewModel { Question = item.Text });
    @Html.ActionLink("Edit", "Edit", new { id = item.ID });<text> |</text>
    @Html.ActionLink("Delete", "Delete", new { id = item.ID });
    <hr />
}
