@model Neodenit.Memento.Common.ViewModels.AnswerCardViewModel

@{
    ViewBag.Title = "Repeat";
}

<h2>@Html.DisplayFor(model => model.DeckTitle)</h2>

<h4>Repeat</h4>

@{Html.RenderPartial("_TopActions");}

@using (Html.BeginForm("RepeatOpened", "Cards", FormMethod.Get, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.ID)

    Html.RenderPartial("_Question");

    <div class="form-group">
        <div class="offset-md-2 col-md-8">
            <input type="submit" value="Show answer" class="btn btn-outline-secondary focused" />
        </div>
    </div>
}
