@model Memento.Models.ViewModels.ImportViewModel
@*todo import view model*@

@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>

@using (Html.BeginForm("Import", "Decks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DeckID)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="file" name="file" accept=".txt" />
        </div>
    </div>

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(x => x.IsShuffled)
                @Html.LabelFor(x => x.IsShuffled)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Import" onclick="this.disabled = true; this.value = 'Loading...';" />
        </div>
    </div>
}
