@model Memento.Models.Models.Deck

@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>

@using (Html.BeginForm("Import", "Decks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID);
    
    <input type="file" name="file" accept=".txt" />
    <br />
    <input type="submit" value="Import" onclick="this.disabled = true; this.value = 'Loading...';" />
}
